<nav aria-label="Topic navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @(CurrentPage == 1 ? "disabled" : "")">
            <button class="page-link" disabled="@(CurrentPage == 1)" @onclick="@(CurrentPage == 1 ? null : (() => OnPageChanged.InvokeAsync(CurrentPage - 1)))">Previous</button>
        </li>

        @for (int i = 1; i <= TotalPages; i++)
        {
            int localPageNumber = i;
            <li class="page-item @(CurrentPage == localPageNumber ? "active" : "")">
                <button class="page-link" @onclick="(() => OnPageChanged.InvokeAsync(localPageNumber))">@localPageNumber</button>
            </li>
        }

        <li class="page-item @(CurrentPage == TotalPages ? "disabled" : "")">
            <button class="page-link" disabled="@(CurrentPage == TotalPages)" @onclick="@(CurrentPage == TotalPages ? null : (() => OnPageChanged.InvokeAsync(CurrentPage + 1)))">Next</button>
        </li>
    </ul>
</nav>
@code {
    [Parameter] public int TotalPages { get; set; }
    [Parameter] public int CurrentPage { get; set; }
    [Parameter] public EventCallback<int> OnPageChanged { get; set; }
}

